# ======================
# Backend (Django)
# ======================
__pycache__/
**/__pycache__/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
*.pyc
*.pyo
*.pyd
backend/db.sqlite3
backend/*.sqlite3

# Env files (VERY IMPORTANT)
backend/.env
backend/.env.*

# Logs
backend/*.log

# Static & media
backend/media/
backend/staticfiles/

# ======================
# Frontend (React)
# ======================
frontend/node_modules/
frontend/build/
frontend/dist/

# Env files
frontend/.env
frontend/.env.*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ======================
# Global (applies anywhere)
# ======================
.env
*.env
*.key
.venv
*.venv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp